<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
  <link rel="stylesheet" href="../../../public/css/reveal.css">
  <link rel="stylesheet" href="../../../public/css/theme/black.css" id="theme">
  <link rel="stylesheet" href="../../../public/css/slide.css">
  <link rel="stylesheet" href="../../../public/lib/css/zenburn.css">
  <title>Slide_Comments</title>
</head>

<body>
  <input type="hidden" id="slide_id" value="<%= slide_id %>">
  <input type="hidden" id="type" value="<%= type %>">
  <div id="marquee-area"></div>
  <div class="reveal">
    <div class="slides">
      <section data-markdown="../markdown/latest"
            data-separator="^\r?\n---\r?\n$"
            data-separator-vertical="^\r?\n--\r?\n$"
            data-separator-notes="^Note:">
      </section>
    </div>
  </div>
  <form action="">
    <input type="text" id="m" placeholder="what is the point?" autocomplete="off" />
    <input type="button" id="text-button" class="text" value="Send" />
    <input type="button" id="voice-button" class="voice" value="Voice" />
  </form>
  <script src="//code.jquery.com/jquery-1.11.1.js"></script>
  <script src='//cdn.jsdelivr.net/jquery.marquee/1.3.9/jquery.marquee.min.js'></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="../../../public/lib/js/head.min.js"></script>
  <script src="../../../public/js/reveal.js"></script>
  <script src="../../../public/js/slide.js"></script>
</body>

</html>
